<%- include('header'), {seoDetails} %>

<div id="wrapper" class="wrap">
    <%- include('partials/banners.ejs') %>
    <!-- Section start -->
    
<%- include('partials/herosection.ejs') %>
    <!-- Section end -->

<%- include('partials/features.ejs') %>
    <!-- Section end -->

    <!-- Section start -->
    <%- include('./partials/courses.ejs') %>

    <!-- Section end -->
    <%- include('./partials/testimonial.ejs') %>
    

    <%- include('./partials/clientle.ejs') %>
  
    
       <%- include('./partials/homeblog.ejs') %>
    
    <!-- Section end -->
</div>

<%- include('footer')  %>